src/main/mule/mule-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab209a8d-eb74-435d-a8f0-676af553d096" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-ci-cdFlow" doc:id="9aaf23e2-911a-4cd0-afe2-c258cdf21eb1" >
		<http:listener doc:name="Listener" doc:id="40b50cd7-a0ab-4fb2-9dc3-afbfde1bf1dc" config-ref="HTTP_Listener_config" path="/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="c16faee1-7b81-4b9c-9d35-4414d9edec91" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Time" : now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="47bef7ad-7a3a-4a0a-be7c-9d01cc6d7413" message="#[payload]"/>
	</flow>
</mule>
